#lectures {
  --hover-color: var(--secondary-color);
  --heading-color: black;
  --subheading-color: var(--secondary-text-color);
}

.lectures-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style for the list items */
.lectures-list li {
  margin-bottom: 15px;
  /* padding-left: 1rem; */
}

/* Style for the buttons to make them invisible in terms of styling */
.lecture-button {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  display: block; /* Make button block to fill the li */
}

.lecture-button:hover {
  color: var(--hover-color);
  transition: 0.2s;
}

.lectures-list a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--subheading-color);
  margin-left: 0rem;
  margin-right: 2rem;
}

.lectures-list a:hover {
  color: var(--hover-color);
}

.lectures-list .subheading {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--subheading-color);
  margin: 0;
}

.disabled h4 {
  color: var(--subheading-color);
  pointer-events: none;
  cursor: default;
}

.lecture-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.lecture-details.expanded {
  max-height: 200px; /* Adjust this value according to the expected maximum height */
  /* To animate properly to max height, ensure it's larger than the content's height */
}
