/**************************************** Vars *********************************************/
:root {
  --primary-color: #ffc800;
  --secondary-color: #ff0000;
  --primary-text-color: #333;
  --secondary-text-color: #777;

  --title-font-size: 3.25rem;
  --heading-font-size: 1.5rem;
  --primary-font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**************************************** General *********************************************/
* {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  min-width: 360px; /* or any other value that suits your design */
}

.body {
  min-height: 83vh; /* footer is 7, spacer is 10 */
}

.container-fluid,
.container {
  padding: 2rem 2rem;
}

.fade-out {
  opacity: 0;
}

.color-emph {
  color: var(--primary-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
  padding: 0;
  font-weight: 700 !important;
  line-height: 1.2;
}

/**************************************** Mast Head *********************************************/

.masthead {
  position: relative;
  height: 100vh;
  text-align: center;
  color: #232d4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-masthead::before {
  display: none;
}

.masthead-background-img {
  /* Image now applied as background-image to .masthead */
  display: none;
}

.masthead-overlay {
  display: none;
}

.masthead-content {
  position: relative;
  z-index: 3;
}

.masthead-subheading {
  font-size: var(--heading-font-size);
  line-height: var(--heading-font-size);
  font-family: var(--primary-font-family);
}

.masthead-heading {
  font-size: var(--title-font-size);
  line-height: var(--title-font-size);
  font-family: var(--primary-font-family);
}

.masthead-heading h1 {
  font-size: var(--title-font-size);
  line-height: var(--title-font-size);
  font-family: var(--primary-font-family);
}

header.masthead .text-box {
  padding-top: 0;
}

header.masthead {
  padding-top: 0;
  padding-bottom: 0;
}

header.masthead .masthead-subheading {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

header.masthead .masthead-heading {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 1.5rem;
}

header.masthead .btn-social {
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  flex-shrink: 0;
}

header.masthead .btn-social:hover {
  color: #ffd700;
  border: 3px solid #ffd700;
}

header.masthead .col-lg-4 {
  white-space: nowrap;
  overflow: auto;
}

/**************************************** Half-Carasoul *********************************************/

.half-carasoul {
  height: 25rem;
}

.half-carasoul .carasoul {
  height: 25rem;
  color: black;
}

.half-carasoul .carasoul img {
  border-radius: 10px;
  height: 22.5rem;
  transition: 0.2s ease;
  border-radius: 10px;
}

.half-carasoul img:hover {
  border: none;
  border: 14px solid #ffd22d;
}

/**************************************** Link With Icon *********************************************/

.link-with-icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.link-with-icon span {
  margin-right: 10px;
}

.link-with-icon:hover {
  color: var(--primary-color) !important;
}

/**************************************** Loading Body *********************************************/

.loading-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loading-body .fade-out {
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************************** Loading Animation *********************************************/

.full-screen-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
}

.partial-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  background-color: #f8f9fa;
}

.spinner {
  border: 16px solid #d3d3d3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}


body {
  overflow-x: clip;
}
